.card-style, .sticky-container, .code-journal-container, .container-pbar {
  background-color: rgb(205, 205, 205);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.shadow-box, .sticky-notes-container .sticky-note-group {
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.45);
}

.container-pbar {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
}
.container-pbar .counter-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: center;
}
.container-pbar .counter-container h3 {
  padding-top: 6px;
  text-align: center;
  width: 30px;
}
.container-pbar .counter-container .butn:hover {
  background-color: rgb(210, 226, 226);
}
.container-pbar .butn {
  border-radius: 10px;
  margin: 5px 20px;
  padding: 10px;
}
.container-pbar .butn:hover {
  background-color: #bebebe;
}
.container-pbar .prog-bar {
  background-color: rgb(84, 84, 84);
  border: 1px solid black;
  border-radius: 5px;
  height: 15px;
}
.container-pbar .prog-bar .prog-bar-fill {
  transition: width 0.1s ease-out;
}
.container-pbar .timer-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.container-pbar .timer-container .sec-counter {
  font-weight: bold;
  padding: 0px 5px;
}

.code-journal-container {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
}
.code-journal-container .labels-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.code-journal-container .increment-buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.code-journal-container .blip-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin-bottom: 6px;
  margin-top: 3px;
}
.code-journal-container .blip-container .blip-ind-container {
  background-color: rgb(77, 77, 77);
  border-radius: 5px;
  display: flex;
  flex-flow: column-reverse nowrap;
  height: 62px;
  width: 64px;
}
.code-journal-container .blip-container .blip-ind-container .blip {
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 5px;
  height: 15px;
  margin: 0px 2px;
  width: 60px;
}

.control-buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px;
}
.control-buttons-container .butn {
  margin: 0px 30px;
}
.control-buttons-container .butn:hover {
  background-color: rgb(198, 122, 122);
}
.control-buttons-container .max-amount-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
.control-buttons-container .max-amount-container .butn {
  margin: 0px 10px;
}
.control-buttons-container .max-amount-container h6 {
  margin: 0px;
  padding: 0px;
}

.butn {
  border-radius: 5px;
}
.butn:hover {
  background-color: rgb(210, 226, 226);
}

.butn.icon-web {
  border-radius: 20px;
  height: 64px;
  padding: 2px;
  width: 64px;
}

.svg-icons {
  height: 32px;
  pointer-events: none;
  width: 32px;
}

#cw-icon {
  padding-top: 4px;
}

#lc-icon {
  padding-top: 0px;
}

#sl-icon {
  padding-top: 4px;
}

#w3-icon {
  padding-top: 2px;
}

.form-add-sticky {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.form-add-sticky input[type=text] {
  background-color: #ddd;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 0px 5px;
  text-align: center;
}
.form-add-sticky input[type=submit] {
  margin: 0px 5px;
  padding: 0px 5px;
  border-radius: 5px;
}

.sticky-notes-container {
  display: flex;
  flex-flow: column nowrap;
}
.sticky-notes-container .sticky-note-group {
  align-items: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px 20px;
  padding: 5px 5px;
}
.sticky-notes-container .sticky-note-group .sticky-check-text-div {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}
.sticky-notes-container .sticky-note-group .sticky-check-text-div .btn-check-sticky {
  background-color: lightgreen;
}
.sticky-notes-container .sticky-note-group .btn-remove-sticky {
  background-color: lightcoral;
  width: 30px;
}

.btn-sticky {
  border-radius: 5px;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}/*# sourceMappingURL=style.css.map */