.container-pbar{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 1;
  background-color: rgb(205, 205, 205);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  .counter-container{
   display: flex;
   flex-flow: row nowrap; 
   flex: 1;
   justify-content: center;
   align-items: center;
   h3{
    padding-top: 6px;
    width: 30px;
    text-align: center;
   }
   .butn{
    &:hover{
      background-color: rgb(187, 232, 232);
    }
   }
  }
  .butn{
    padding: 10px;
    border-radius: 10px;
    margin: 5px 20px;
    &:hover{
      background-color: #bebebe;
    }
  }
  .prog-bar{
    height: 15px;
    background-color: rgb(84, 84, 84);
    border: 1px solid black;
    border-radius: 5px;
    .prog-bar-fill{
      transition: width 0.1s ease-out;
    }
  }
  .timer-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    .sec-counter{
      padding: 0px 5px;
      font-weight: bold;
    }
  }
}
